<footer class="site-footer">
    <div class="container">
        <div class="row strip">
            <div class="col-md-6 left center-sm">
                <span class="text-muted text-light">&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }} - </span>
                <ul class="social-media-list">
                    <li>
                        <a href="https://facebook.com">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>