<header class="{% if include.object.image %}background_image{% else %}svg{% endif%}">
    {% if include.object.image %}
        {% assign header_image_path = include.object.image.path | replace: '/assets/images', '' %}
        {% picture header_image {{header_image_path}} alt=include.object.image.alt%}
    {% endif %}
    <div class="container">
        <div class="jumbotron text-white d-flex flex-column">
            {% if include.object.items %}
            {% for section in include.object.items %}
                {% if section.type == "title" %} 
                    <h1 class="display-3 p-t-100 font-weight-bold">{{section.content}}</h1>                
                {% elsif section.type == "para" %}
                    <p class="lead font-weight-bold">
                        {{section.content}}
                    </p>
                {% elsif section.type  == "buttons" %}
                    <p class="lead">
                        {% for btn in section.content %}
                            <a class="btn {% if btn.class %}{{btn.class}}{% endif %}"
                             href="{{btn.url}}" role="button">{{btn.title}}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
            {% else %}
                <h1 class="display-3 p-t-100 font-weight-bold">{{include.object.title}}</h1>
                <p class="lead font-weight-bold">
                    {{include.object.description}}
                </p>
                <small>{{include.object.date | date: "%A, %B %-d, %Y" }}</small>
            {% endif %}
        </div> 
    </div>
</header>