{% if include.object.data_source %}
    {% assign members = site.data[include.object.data_source] %}
{% else %}
    {% assign members = include.object.content %}
{% endif %}
<div class="members_section {% if include.object.style %}{{include.object.style}}{% endif %}">
{% for member in members %}
    {% if member.url %}<a href="{{member.url}}">{% endif %}
    {% if member.image.path contains "http" %}
    <div class="col-xs-6 col-sm-{{include.object.item_width}}">
        <img class="lazyload img-responsive" alt="{{member.image.alt}}"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{member.image.path}}"/>
    </div>
    {% else %}
        <div class="col-xs-6 col-sm-{{include.object.item_width}}">
            {% assign image_path = member.image.path | replace: '/assets/images/','' %}
            {% if member.image.svg %}
                <img class="img-fluid svg_image {% if include.object.image.style %}{{include.object.image.style}}{% endif %}" alt="{{include.object.image.alt}}" src="{{image_path}}" />
            {% else %}
                {% picture feature_block_image {{image_path}} alt=include.object.image.alt %}
            {% endif %}
        </div>
    {% endif %}
    {% if member.url %}</a>{% endif %}
{% endfor %}
</div>
