<div class="owl-carousel slider-block owl-theme" data-size="{{include.object.items | size }}"
{% if include.object.xs_items %}data-xs-number="{{include.object.xs_items}}"{% endif %}
{% if include.object.sm_items %}data-sm-number="{{include.object.sm_items}}"{% endif %}
{% if include.object.md_items %}data-md-number="{{include.object.md_items}}"{% endif %}
{% if include.object.lg_items %}data-lg-number="{{include.object.lg_items}}"{% endif %}
{% if include.object.dots %}data-dots="true"{% endif %}
{% if include.object.nav %}data-nav="true"{% endif %}
{% if include.object.seconds_per_slide %}data-seconds-per-slide="{{include.object.seconds_per_slide}}"{% endif %}>
    {% if include.object.items %}
        {% assign carousel_items = include.object.items %}
    {% elsif include.object.data_source %}
        {% assign carousel_items = site.data[include.object.data_source] %}
    {% endif %}
    {% for item in carousel_items %}
        {% if include.object.lightbox_enabled %}<a data-featherlight="{{item.image}}">{% endif %}
        <div class="item">
            {% if item.image %}
                {% assign image_path = member.image.path | replace: '/assets/images/','' %}
                {% if item.image %}
                    <img class="img-fluid svg_image {% if include.object.image.style %}{{include.object.image.style}}{% endif %}" alt="{{include.object.image.alt}}" src="{{image_path}}" />
                {% else %}
                    {% picture feature_block_image {{image_path}} alt=include.object.image.alt %}
                {% endif %}
            {% endif %}
        </div>
        {% if include.object.lightbox_enabled %}</a>{% endif %}
    {% endfor %}
</div>
