header {
    overflow:hidden;
    height: auto;
    background-color: $primary;
    .jumbotron {
        background-color: transparent;
        padding-left: 0px;
        padding-right:0px;
        position: relative;
        h1 {
            margin-top:100px;
        }
        img {
            margin-top: 100px;
             -webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);

        }
        span.author {
            a {
                color: $secondary;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    &.svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 2560 1600' version='1.1' viewBox='0 0 2560 1600' xml:space='preserve'%3E%3Cstyle xmlns='http://www.w3.org/2000/svg' type='text/css'%3E .st0%7Bfill:%23000;%7D .st1%7Bfill:url(%23a);%7D polygon%7Bfill:%231b1b1b%7D;%0A%3C/style%3E%3Cpattern id='a' width='319.998' height='319.998' overflow='visible' patternUnits='userSpaceOnUse' viewBox='0 -399.997 319.998 319.998'%3E%3Crect class='st0' y='-400' width='320' height='320'/%3E%3Cpolygon points='240 -79.999 240 0 160 -79.999 160 -160'/%3E%3Cpolygon points='320 -160 240 -79.999 240 -160'/%3E%3Cpolygon points='79.999 -79.999 79.999 0 0 -79.999 0 -160'/%3E%3Cpolygon points='160 -160 79.999 -79.999 79.999 -160'/%3E%3Cpolygon points='320 -240 320 -160 240 -240 240 -320'/%3E%3Cpolygon points='160 -240 160 -160 79.999 -240 79.999 -320'/%3E%3Cpolygon points='240 -320 160 -240 160 -320'/%3E%3Cpolygon points='240 -240 240 -160 160 -160'/%3E%3Cpolygon points='79.999 -320 0 -240 0 -320'/%3E%3Cpolygon points='79.999 -240 79.999 -160 0 -160'/%3E%3Cpolygon points='240 -400 240 -320 160 -400 160 -480'/%3E%3Cpolygon points='320 -400 320 -320 240 -320'/%3E%3Cpolygon points='79.999 -400 79.999 -320 0 -400 0 -480'/%3E%3Cpolygon points='160 -400 160 -320 79.999 -320'/%3E%3C/pattern%3E%3Crect class='st1' width='2560' height='1600'/%3E%3C/svg%3E");
    }
    &.background_image {
      background: transparent !important;
      img.header__image {
          filter: brightness(0.4);
          position: absolute;
          z-index: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
    }
}
