header {
    .jumbotron {
        h1 {
            padding-top:100px;
        }
        span.author {
            a {
                color: $secondary;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}