
header {
    overflow:hidden;
    height: auto;
    background-color: $primary;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 2560 1600' version='1.1' viewBox='0 0 2560 1600' xml:space='preserve'%3E%3Cstyle xmlns='http://www.w3.org/2000/svg' type='text/css'%3E .st0%7Bfill:%23000;%7D .st1%7Bfill:url(%23a);%7D polygon%7Bfill:%231b1b1b%7D;%0A%3C/style%3E%3Cpattern id='a' width='319.998' height='319.998' overflow='visible' patternUnits='userSpaceOnUse' viewBox='0 -399.997 319.998 319.998'%3E%3Crect class='st0' y='-400' width='320' height='320'/%3E%3Cpolygon points='240 -79.999 240 0 160 -79.999 160 -160'/%3E%3Cpolygon points='320 -160 240 -79.999 240 -160'/%3E%3Cpolygon points='79.999 -79.999 79.999 0 0 -79.999 0 -160'/%3E%3Cpolygon points='160 -160 79.999 -79.999 79.999 -160'/%3E%3Cpolygon points='320 -240 320 -160 240 -240 240 -320'/%3E%3Cpolygon points='160 -240 160 -160 79.999 -240 79.999 -320'/%3E%3Cpolygon points='240 -320 160 -240 160 -320'/%3E%3Cpolygon points='240 -240 240 -160 160 -160'/%3E%3Cpolygon points='79.999 -320 0 -240 0 -320'/%3E%3Cpolygon points='79.999 -240 79.999 -160 0 -160'/%3E%3Cpolygon points='240 -400 240 -320 160 -400 160 -480'/%3E%3Cpolygon points='320 -400 320 -320 240 -320'/%3E%3Cpolygon points='79.999 -400 79.999 -320 0 -400 0 -480'/%3E%3Cpolygon points='160 -400 160 -320 79.999 -320'/%3E%3C/pattern%3E%3Crect class='st1' width='2560' height='1600'/%3E%3C/svg%3E");    .jumbotron {
        background-color: transparent;
        padding-left: 0px;
        padding-right:0px;
    }
    &.background_image {
      background: transparent !important;
      img.header__image {
          filter: brightness(0.4);
          position: absolute;
          z-index: -1;
          height: 100%;
          width: 100%;  
          object-fit: cover;
      }
    }
}
// Animations for the dropdown menu
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.navbar {
    background-color: $primary;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: $primary;
    &.bg-faded:hover {
        background-color:$primary;
    }
    &.bg-faded {
        background-color:transparent;
    }
    &.affix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: $primary;
        .nav-item > a, .navbar-brand {
            color: #fff;
        }
    }

    @include media-breakpoint-down(sm) {
        a.dropdown-item {
            padding: 1rem 0.5rem;
        }
        .collapse.show {
            background-color: $primary;
        }
    }
    img.navbar-brand {
        height: 40px;
        padding: 0 0;
    }
    .nav-link {
        font-size: 1.4rem;
        &.dropdown-toggle {
            &:hover + .dropdown-menu {
                -webkit-animation-name: fadeInUp;
                animation-name: fadeInUp;
            }
        }
    }
  .dropdown.show {
        .dropdown-menu {
            opacity: 1;
        }
  }
  .dropdown-menu {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
        margin-top: -2px;
        &:hover {
            opacity: 1;
        }
        &::before {
            border-color: rgba(184, 184, 184, 0);
            border-bottom-color: #b8b8b8;
            border-width: 6px;
            background-clip: padding-box;
            bottom: 100%;
            right: 15px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
    }
    padding-top: 30px;
    padding-bottom: 30px;
    .dropdown-toggle::after {
        display: none;
    }
    .navbar-toggler {
        border: none;
        background: transparent !important;
        .icon-bar {
            width: 22px; 
            height: 2px;
            background-color: #fff;
            display: block;
            transition: all 0.2s;
            margin-top: 4px;
            &.top-bar {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }
            &.middle-bar {
                opacity: 0;
            }
            &.bottom-bar {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            }
        }
        &.collapsed {
            .top-bar {
                transform: rotate(0);
            }
            .middle-bar {
                opacity: 1;
            }
            .bottom-bar {
                transform: rotate(0);
            }
        }
    }
}
/* navbar collapsing */
@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}