---
---
@charset 'UTF-8';
$baseurl: "{{ site.baseurl }}";
@font-face {
  font-family: 'fontello';
  src: url($baseurl + '/assets/fonts/fontello/fontello.eot?53614618');
  src: url($baseurl + '/assets/fonts/fontello/fontello.eot?53614618#iefix') format('embedded-opentype'),
       url($baseurl + '/assets/fonts/fontello/fontello.woff2?53614618') format('woff2'),
       url($baseurl + '/assets/fonts/fontello/fontello.woff?53614618') format('woff'),
       url($baseurl + '/assets/fonts/fontello/fontello.ttf?53614618') format('truetype'),
       url($baseurl + '/assets/fonts/fontello/fontello.svg?53614618#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url($baseurl + '/assets/fonts/lato/regular/regular.eot'); /* IE9 Compat Modes */
    src: url($baseurl + '/assets/fonts/lato/regular/regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url($baseurl + '/assets/fonts/lato/regular/regular.woff2') format('woff2'), /* Super Modern Browsers */
        url($baseurl + '/assets/fonts/lato/regular/regular.woff') format('woff'), /* Pretty Modern Browsers */
        url($baseurl + '/assets/fonts/lato/regular/regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url($baseurl + '/assets/fonts/lato/regular/regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Lato';
    src: url($baseurl + '/assets/fonts/lato/bold/bold.eot'); /* IE9 Compat Modes */
    src: url($baseurl + '/assets/fonts/lato/bold/bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url($baseurl + '/assets/fonts/lato/bold/bold.woff2') format('woff2'), /* Super Modern Browsers */
        url($baseurl + '/assets/fonts/lato/bold/bold.woff') format('woff'), /* Pretty Modern Browsers */
        url($baseurl + '/assets/fonts/lato/bold/bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url($baseurl + '/assets/fonts/lato/bold/bold.svg') format('svg'); /* Legacy iOS */
    font-weight: bold;
}
@import "variables";
@import "animation";
@import "bootstrap";
@import "theme";
@import "fontello";
@import "feature-block";
@import "highlighter";
@import "inherited";
@import "navbar";
