<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div id="wrapper">
            <div class='thetop'></div>
            {% include navbar.html %}
            {{content}}
            {% include footer.html %}
            <div class='scrolltop'>
                <div class='scroll icon'>
                    <i class="icon-up-open"></i>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/static/app.js"></script>
    </body>
</html>